
$green: #2a9d8f;
$yellow: #fefae0;

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Verdana';
  text-align: center;
  background-color: $green;
  height: 100vh;
  width: 100vw;
  display: flex;

  .left-sidebar {
    background-color: $yellow;
    width: 400px;
    height: 100%;
    padding: 0 30px 30px 30px;
    overflow-y: scroll;
  }

  .right-sidebar {
    flex: 1;
    overflow: scroll;
    .cocktails-container {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: space-around;
    }
  }

}

h1 {
  margin-top: 0;
  position: sticky;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  background-color: $yellow;
}