/** De algemene styling kan wat netter en strakker. De achtergrond kleur zou ik wit maken en de cocktail cards lichtgrijs, of juist net andersom.
Zo creer je wat meer rust, nu heb je 3 verschillende kleuren die niet heel lekker in elkaar lopen. **/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
